@charset "utf-8";

@import "variables";

// Import only what you need from Bulma
@import "~bulma/bulma.sass";
// @import "~bulma/sass/base/_all.sass";
// @import "~bulma/sass/elements/_all.sass";
// @import "~bulma/sass/form/_all.sass";
// @import "~bulma/sass/components/_all.sass";
// @import "~bulma/sass/layout/_all.sass";

@import "~buefy/src/scss/buefy";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.content-image {
    padding: 1.5rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;

    min-height: 400px;

    .card {
        width: 250px;
        margin: 0rem;

        .card-image {
            img {
                object-position: center;
                object-fit: cover;
            }
        }
    }
}
